<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <ul class="list-group">
            <li class="list-group-item text-center active lgtitle">Formación Complementaria</li>
            <li class="list-group-item">• Angular: De cero a experto creando aplicaciones (Angular 9+). Udemy Online. Cursando<br>
                <mat-progress-bar mode="buffer" value=50 bufferValue=60></mat-progress-bar>
            </li>
            <li class="list-group-item">• <b>Curso de Desarrollo Web Full Stack</b>. 1000 h Factoria F5. Madrid. 2019-2020</li>
            <!-- <li class="list-group-item">• Certificado de Profesionalidad de Confección y Publicación de Páginas Webs. 560 h SEPE. Madrid. 2019</li> -->
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item text-center active lgtitle">Formación Académica</li>
            <li class="list-group-item">• <b>Master en Branded Content y Comunicación Transmedia</b>. Universidad Carlos III. Madrid. 2015</li>
            <li class="list-group-item">• <b>Master en Dirección de Publicidad Integrada</b> por TWBA. Universidad Antonio Nebrija. Madrid. 2014</li>
            <li class="list-group-item">• <b>Licenciatura en publicidad</b>. UNAPEC. Rep. Dominicana, Santo Domingo. 2012</li>
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item text-center active lgtitle">Idiomas</li>
            <li class="list-group-item">• Inglés: Nivel C1</li>
            <li class="list-group-item">• Alemán: Nivel A2
                <mat-progress-bar mode="buffer" value=25 bufferValue=45></mat-progress-bar>
            </li>
            <li class="list-group-item">• Español: Nativo</li>
        </ul>
        <br>

    </div>
</div>