.maincon {
    padding-top: 70px;
    width: 100%;
    text-align: center;
}

.listadocon {
    display: inline-block;
    justify-content: center;
    list-style: none;
    margin-left: -2em;
}

.listadocon li {
    padding: 5px;
}

.iconta {
    text-align: center;
    font-size: 5em;
}

.imgside {
    width: 20%;
}