.maincon {
    padding-top: 80px;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.listadocon {
    display: inline-block;
    justify-content: center;
    list-style: none;
    margin-left: -2em;
}

.listadocon li {
    padding: 5px;
}

.iconta {
    text-align: center;
    font-size: 5em;
}

.imgside {
    width: 20%;
}






  /**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
  .text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }


@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
