<app-cabezera></app-cabezera>
<div class="container maincon">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="hero-text">
                        <h2>Ernesto Silva Languasco</h2>
                        <p>Estos son los medios para contactarme.</p>
                        <img src="assets/img/grootside.png" alt="fotopersonal" class="imgside">

                    </div>
                    <div class="hero-info">
                        <i class="fa fa-address-card iconta"></i>
                        <h2>Información de contacto </h2>
                        <ul class="listadocon">
                            <li><i class="fa fa-github fa-lg"></i><a href="https://github.com/elneto264"> Perfil en GitHub</a></li>
                            <li><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                                <a href="https://www.linkedin.com/in/esilvalan/"> Perfil en LinkeIn</a>
                            </li>
                            <li><i class="fa fa-envelope fa-lg"></i> ernestoster@gmail.com</li>
                            <li><i class="fa fa-phone fa-lg"></i> Móvil: +34 602 38 47 99</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>