.ltec {
    margin: 5px;
}

.barrapro {
    margin: 5px 5px 5px 15px;
    width: 43%;
}

.tecContain {
    margin-left: 4em;
    /* border: 1px solid black; */
}

.tecbloq {
    display: flex;
    align-items: center;
    margin: 10px;
}