/* archivo viejo css */

.fondor{
    margin-top: 5em;
}

.ptitulos{
    font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: rgb(0, 212, 255);
    background: linear-gradient(180deg, rgba(0, 212, 255, 1) 0%, rgba(148, 237, 255, 0.9080766095500701) 40%, rgba(255, 255, 255, 1) 100%);
    padding: 0;
    position: absolute;
    z-index: -1;
}

.cprincipal {
    width: 100%;
    border-right: 1px solid white;
    border-radius: 15px 0 0 0;
}

.cincodias {
    width: 100%;
    margin-top: 10px;
}

.cincodias h4 {
    width: 100%;
    text-align: center;
}

.infoprin {
    width: 100%;
    float: left;
    margin-top: 25px;
    font-size: 32pt;
}

.refrescar {
    width: 6%;
    float: right;
    margin: 10px;
}

.sarrow-active {
    width: 6%;
    float: right;
    margin: 10px;
    animation-name: spin;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1000ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tempactual {
    margin-top: 25px;
    float: right;
    text-align: right;
}

.imgprin {
    width: 40%;
}

.imgdias {
    width: 90%;
}

.detallesActual {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12pt;
    color: white;
}

.detallesActual th {
    font-weight: normal;
    font-size: 22pt;
}

.imgcurrent {
    width: 10vw;
}

.piedepagina {
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    position: absolute;
}

.cdatos {
    background-color: darkblue;
    opacity: 0.6;
    color: white;
    /* border-radius: 15px 15px 0 0; */
}

.secDatos {
    background-color: darkblue;
    border-top: 1px solid white;
    opacity: 0.6;
    color: white;
    /* border-radius: 0 0 15px 15px; */
    text-align: center;
}

.pronostico2 {
    padding-top: 7em;
    text-align: center;
}

.campologin {
    margin-top: 5px;
}

.hola {
    width: 100%;
    padding-top: 10px;
    color: white;
}

#cabezera {
    padding-bottom: 15px;
    background-color: #000000;
    opacity: 0.8;
    margin-bottom: 26px;
    -webkit-box-shadow: 0px 9px 3px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 3px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 3px -5px rgba(0, 0, 0, 0.75);
}

#ciudades {
    text-align: center;
    width: 50%;
    margin-top: 6px;
    padding: 8px;
    font-size: 2.3vh;
}

select {
    display: block;
    margin: 0 auto;
}

#formv {
    float: right;
}

#imglogo {
    width: 100%;
}

#usuario {
    margin-top: 5px;
    width: 100%;
}

#clave {
    margin-top: 5px;
    width: 100%;
}

#blogin {
    margin-top: 6px;
    width: 100%;
}

#bregister {
    margin-top: 6px;
    width: 100%;
}


/* el overlay registe*/

#unover {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#unover2 {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#contenidoregis {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#contenidoregis2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* fin del archivo viejo css */