.mtitulo {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 5px;
}

.ptitulos {
    text-align: center;
    font-weight: bold;
}

.pdescripcion {
    margin: 10px;
}

.fon {
    margin-top: -10px;
    background-color: white;
    height: 100%;
}

.prodes {
    margin-top: 1em;
}


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */


 .fade-in {
	animation: fade-in 1.2s ease-in both;
}

 @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  