.mtitulo {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 5px;
}

.ptitulos {
    text-align: center;
    font-weight: bold;
}

.pdescripcion {
    margin: 10px;
}

.fon {
    margin-top: -10px;
    background-color: white;
    height: 100%;
}