<app-cabezera></app-cabezera>
<div class="container">
    <h2 class="mtitulo">Proyectos realizados</h2>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <section>
                <h3 class="ptitulos">Proyecto api de clima con ajax</h3>
                <app-clima></app-clima>
                <div class="card prodes">
                    <div class="card-body">
                        <h2><b>Descripcion del proyecto:</b></h2>
                        <ul>
                            <li>
                                <p class="pdescripcion">Practica realizada para hacer llamada a una API mediante Ajax para mostrar los datos climaticos de diferentes ciudades</p>
                            </li>
                            <li>Tecnologias usadas: Html5, CSS3, JavaScript, jQuery y Ajax.</li>
                            <li>Metodología Agile: Scrum</li>
                            <!-- <li>
                                Metodologia:
                            </li> -->
                        </ul>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <h3 class="ptitulos">Proyecto ruleta con JS</h3>
                <app-ruleta></app-ruleta>
                <div class="card prodes">
                    <div class="card-body">
                        <h2><b>Descripcion del proyecto:</b></h2>
                        <ul>
                            <li>
                                <p class="pdescripcion">Descripcion del proyecto: <br>Practica realizada para hacer un algoritmo que elija de manera aleatoria un nombre de un Array de elementos.Trabajo realizado en conjunto con <a href="https://www.linkedin.com/in/yesidalcaraz/">Yesid Alcaraz</a></p>
                            </li>
                            <li>Tecnologias usadas: Html5, CSS3, JavaScript.</li>
                            <li>Metodología Agile: Kanban</li>
                            <!-- <li>
                                Metodologia:
                            </li> -->
                        </ul>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <h3 class="ptitulos">Proyecto Pedagogico</h3>
                <app-pedagogico></app-pedagogico>
                <div class="card prodes">
                    <div class="card-body">
                        <h2><b>Descripcion del proyecto:</b></h2>
                        <ul>
                            <li>
                                <p class="pdescripcion">Descripcion del proyecto: <br>Proyecto realizado para el fin del curso Full Stack, es una herrmanienta para uso interno de la compañia Let Me Park para verificar las direcciones en BBDD(MongoDB) que muestra los parkings
                                    de la ciudad y las reservas. Trabajo realizado en conjunto con <a href="https://www.linkedin.com/in/yesidalcaraz/">Yesid Alcaraz</a></p>
                            </li>
                            <li>Tecnologias usadas: Html5, CSS3, JavaScript, Ajax, Django, BBDD: MongoDB.</li>
                            <li>Metodología Agile: Scrum y Kanban</li>
                            <!-- <li>
                                Metodologia:
                            </li> -->
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>