.ptitulos {
    text-align: center;
    font-weight: bold;
}

.pdescripcion {
    margin: 10px;
}

.mtitulo {
    text-align: center;
    margin-bottom: 5px;
}

.bloques {
    display: block;
    width: 100%;
}

.infopro {
    margin-top: 10px;
}

.prodes {
    margin-top: 10px;
}

.time {
    display: flex;
}

.bloquetec {
    display: block;
    position: relative;
    border: 1px solid black;
}

.mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 45px;
}


/* .fon {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
} */