.ptitulos {
    text-align: center;
    font-weight: bold;
}

.pdescripcion {
    margin: 10px;
}

.mtitulo {
    text-align: center;
    margin-bottom: 5px;
}

.bloques {
    display: block;
    width: 100%;
}

.infopro {
    margin-top: 10px;
}

.prodes {
    margin-top: 10px;
}

.time {
    display: flex;
}

.bloquetec {
    display: block;
    position: relative;
    border: 1px solid black;
}