.introtext {
    margin-top: 3em;
}

.textbox {
    margin-top: 4.5em;
    
}

.introtext h1 {
    text-align: center;
}

.introtext p {
    text-align: left;
}

.yoimg {
    width: 100%;
}

.card-title {
    text-align: center;
}

.always {
    text-align: center;
    font-style: italic;
}


/* estilos textos*/

.ptitulos {
    text-align: center;
    font-weight: bold;
}

.pdescripcion {
    margin: 10px;
}

.mtitulo {
    text-align: center;
    margin-bottom: 5px;
}

.bloques {
    display: block;
    width: 100%;
}

.infopro {
    margin-top: 10px;
}

.prodes {
    margin-top: 10px;
}

.time {
    display: flex;
}

.bloquetec {
    display: block;
    position: relative;
}

.tcard {
    text-align: center;
}

main {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.fon {
    margin-top: -10px;
    background-color: white;
    height: 100%;
}