<div class="container fon">
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 textbox">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/img/grootside.png" class="card-img yoimg" alt="imagen personal">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">Desarrollador web | Publicista </h2>
                            <p class="card-text tcard">Un profesional del area de publicidad que se mueve al desarrollo web, siempre haciendo scroll hacia abajo o pasando paginas hacia la izquierda.</p>
                            <p class="card-text text-muted always">Always Beta!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 introtext">
            <h1>¡Hola!</h1>
            <p> Mi nombre es Ernesto Silva Languasco. Soy un dominicano más por Europa. Estudié publicidad como carrera universitaria enfocado en la creación de contenido y estrategia de marketing.
                <br><br>Desde hace un tiempo entré al mundo de la programación web, pues siempre me ha gustado la tecnología y la comunicación. El resultado es esta página. Aspiro a ser un programador <b>Full Stack</b>, ya que es un buen equilibrio para
                poder ofrecer un buen servicio como profesional ya que se manejar tanto el <b>Front-End</b> como el <b>Back-End</b>. Esto asegura que al momento de trabajar en un proyecto nuevo se aplique la mejor estrategia de diseño, desarrollo y difusión,
                considerando las herramientas.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h3 class="ptitulos">Experiencia Laboral</h3>
            <section class="bloques time">
                <br>
                <app-timeline [data]="statusData" [statuses]="StatusValues" [topEdge]="true" [bottomEdge]="true" style="width: 400px0; float:right;">
                </app-timeline>
            </section>
            <hr>
            <section class="bloques">
                <br>
                <h3 class="ptitulos">Formación</h3>
                <app-formacion></app-formacion>
            </section>
            <hr>
            <section class="bloquetec">
                <h3 class="ptitulos">Dominio de Tecnologias</h3>
                <app-tecnologias></app-tecnologias>
            </section>

        </div>
    </div>
</div>