<div class="container">
    <div class="row mx-auto d-block">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div>
                <h2>Proyecto Pedagoico</h2>
                <div>
                    <ul class="enlaces">
                        <li><a href="https://park.alwaysdata.net/" target="_blank">Version Realizada con Leaflet y Openmaps</a></li>
                        <li><a href="https://lmpoperations.alwaysdata.net/" target="_blank">Version Realizada con Google Maps</a></li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>