<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">

            <div class="card enlaces">
                <h5 class="card-header">Version Google Maps</h5>
                <div class="card-body">
                    <p class="card-text">Esta versión fue realizada con Google Maps.Google Maps permite realizar un código mejor organizado, pero tiene su propio estilo el cual es diferente a el resto de los open source maps que tiene más cosas en común.</p>
                    <a href="https://lmpoperations.alwaysdata.net/" target="_blank" class="btn btn-success">Ir al sitio</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="card enlaces">
                <h5 class="card-header"> Version Leaflet</h5>
                <div class="card-body">
                    <p class="card-text">Esta versión fue realizada con Opensource de Leaflet y Openmaps. La estructura de usada para el JS es bastante diferente a la versión de Google por que tiene una integración diferente por el uso de OpenMaps</p>
                    <a href="https://park.alwaysdata.net/" target="_blank" class="btn btn-success">Ir al sitio</a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <div>
    <div>
        <ul class="enlaces">
            <li><a href="https://park.alwaysdata.net/" target="_blank">Version Realizada con Leaflet y Openmaps</a></li>
            <li><a href="https://lmpoperations.alwaysdata.net/" target="_blank">Version Realizada con Google Maps</a></li>
        </ul>
    </div>
</div> -->