<ul class="nav justify-content-center cabeza">
    <li class="nav-item">
        <a class="btn btn-dark bts" routerLink="/aboutme" role="button">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark bts" routerLink="/trabajos" role="button">Portafolio</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark bts" routerLink="/contacto" role="button">Contacto</a>
    </li>
    <li class="nav-item barstat">
        <ejs-tooltip id="estado" content="Progreso actual de la web" position="RightCenter">
            <mat-progress-spinner mode="determinate" value="40" diameter="40"></mat-progress-spinner>
        </ejs-tooltip>
        <!-- <p id="estado"> Progreso actual de la web</p> -->
    </li>
</ul>