.cabeza {
    background-color: black;
    height: 100%;
    padding: 4px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.bts {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Noto Sans TC', sans-serif;
}

.barstat {
    margin-top: 0.5em;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#estado {
    color: white;
    margin-top: -0.3em;
    margin-left: 0.2em;
    padding: 4px;
}

.e-tooltip-wrap .e-tip-content {
    color: white;
    font-size: 12px;
    background-color: black;
    padding: 5px;
}


/* material style*/

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

.custom-toolbar {
    background-color: black;
    z-index: 3;
    position: fixed;
}

.custom-icon {
    color: white;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}