.cabeza {
    background-color: #4989A8;
    height: 100%;
    padding: 4px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.sel{
    font-size: 14pt;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;  
    background-color: #4989A8;
    border: none;
    color: #fff;
}


.uk{
    width: 50px;
}

.bts {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Noto Sans TC', sans-serif;
}

.barstat {
    margin-top: 0.5em;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#estado {
    color: white;
    margin-top: -0.3em;
    margin-left: 0.2em;
    padding: 4px;
}

.e-tooltip-wrap .e-tip-content {
    color: white;
    font-size: 12px;
    background-color: black;
    padding: 5px;
}


/* material style*/

a {
    text-decoration: none;
    color: white;color: #fff !important;
    /* text-transform: uppercase; */
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

a:hover,
a:active {
    color: black;
    background: #347192;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    /* border-radius: 3px; */
    box-shadow: 0px 4px 6px -5px rgba(0, 0, 0, 0.79);
}

.custom-toolbar {
    background-color: #4989A8;
    z-index: 3;
    position: fixed;
}

.custom-icon {
    color: white;
}



@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}